.products{
  width: 100%;
  padding: 100px 80px;
  background: #0f172a;
}

.products h2{
  color: white;
  text-align: center;
  font-size: 45px;
  margin-bottom: 60px;
}

.product-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 30px;
}

.product-card{
  background: #1e293b;
  border-radius: 20px;
  overflow: hidden;
  transition: 0.4s;
}

.product-card:hover{
  transform: translateY(-10px);
}

.product-card img{
  width: 100%;
  height: 280px;
  object-fit: cover;
}

.product-info{
  padding: 25px;
}

.product-info h3{
  color: white;
  font-size: 24px;
  margin-bottom: 15px;
}

.product-info p{
  color: #6366f1;
  font-size: 20px;
  margin-bottom: 20px;
}

.product-info button{
  width: 100%;
  padding: 14px;
  border: none;
  background: #6366f1;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

.product-info button:hover{
  background: #7c3aed;
}


.product-info p{
  color: #22c55e;
  font-size: 22px;
  font-weight: 600;
}
  

.products-top h1{
  color: aliceblue;
}

@media(max-width: 1100px){

  .product-container{
    grid-template-columns: repeat(2,1fr);
  }

}

@media(max-width: 700px){

  .products{
    padding: 80px 20px;
  }

  .product-container{
    grid-template-columns: 1fr;
  }

  .products h2{
    font-size: 35px;
  }

}