.my-orders{
  min-height:100vh;
  padding:140px 20px 50px;
  background:#0f172a;
}

.my-orders h1{
  text-align:center;
  color:white;
  margin-bottom:40px;
}

.order-card{
  max-width:800px;
  margin:20px auto;
  background:#1e293b;
  padding:20px;
  border-radius:12px;
  color:white;
}

.order-card h3{
  margin-bottom:10px;
}

.order-card p{
  margin:8px 0;
}